extends layout

block content
  h1= title
  - var result = results 
  div.container-fluid
     div.row
        each item,index in result
            div.col-sm-2(onclick=`buy(${index})`) mercedes_benz_luxurious_name: #{item["mercedes_benz_luxurious_name"]}  <br>  mercedes_benz_tire_size: #{item["mercedes_benz_tire_size"]} <br> mercedes_benz_High_Beam_type: #{item["mercedes_benz_High_Beam_type"]} 
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }