extends layout
block content
  h1= title 
    button.btn(class="btn-primary btn-sm ml-1", style="margin: 5px; width: 120px;", onclick=`dispatch(\"/mercedes_benz/create\")`) Create
  - var results = results
  div(class="container-fluid") 
    div(class="row m-1") 
      each item in results  
         - let destination_1 = `dispatch(\"/mercedes_benz/update?id=${item._id}\")`
         - let destination_2 = `dispatch(\"/mercedes_benz/detail?id=${item._id}\")`
         - let destination_3 = `dispatch(\"/mercedes_benz/delete?id=${item._id}\")`
         div(class='card-text', onclick=`buy(${index})`) mercedes_benz_luxurious_name: #{item["mercedes_benz_luxurious_name"]}  <br>  mercedes_benz_tire_size: #{item["mercedes_benz_tire_size"]} <br> mercedes_benz_High_Beam_type: #{item["mercedes_benz_High_Beam_type"]} 
                                button.btn(class="btn-warning btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= destination_1) Update
                                button.btn(class="btn-warning btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= destination_2) Details
                                button.btn(class="btn-warning btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= destination_3) Delete 
  script. 
    function dispatch(path){ 
      window.location.href=path 
    }